---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Astro Blog Home';

const skillColor = 'navy';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<BaseLayout pageTitle={pageTitle} lang="en">
	<h2>My Astro Site</h2>
</BaseLayout>
